@font-face {
    font-family: SeratUltra;
    src: url(fonts/SeratUltra.ttf);
}

@font-face {
    font-family: Millenia;
    src: url(fonts/Millenia.ttf);
}

*{
    user-select: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: #1b1c22;
    overflow: hidden;
}

canvas {
  margin: 0 auto;
}


.wrap{
    overflow: hidden;
}

.centered{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.centered header{
    font-size: 80px;
    font-family: SeratUltra;
}

.centered p{
    transition: 500ms;
    font-size: 30px;
    text-align: center;
    font-family: Millenia;
}

.centered p:hover{
    color: #daa521;
    transition: 500ms;
    cursor: pointer;
}

@media (max-width: 377px) {
    .socials{
        font-size: 14px;
        transition: 0.4s;
    }
}
